.pop-up-box {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: 3;
    background: rgba(177, 177, 177, 0.479);
    padding: 10px;
    vertical-align: middle;
}
