.dropdown .dropdown-arrow {
    border: solid;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.dropdown {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently*/
}

.dropdown .dropdown-items {
    position: absolute;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    width: max-content;
    z-index: 1;
}

.dropdown .dropdown-items .dropdown-item:hover {
    background: rgb(175, 102, 102);
    color: white;
}