.card-container .card {
    padding: 5px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
    background: rgba(0, 0, 0, 0.335) !important;
    cursor: pointer;
}

.cards-container {
    height: 376px;
    overflow-y: scroll;

}

.card-container .card-title-change-input {
    background: rgba(255, 255, 255, 0.205);
    color: white;
    border: none;
    outline: none;
    resize: none;
    height: auto;
}
