@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap");

.boards-loader .loader-view {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.card .card-content .card-title {
    padding-left: 10px;
    font-family: "Open Sans Condensed", sans-serif;
    font-size: x-large;
    color: #333333;
}

.card .card-img-wrapper .card-img {
    max-height: 180px;
}

.card .board-options {
    position: absolute;
    bottom: 40%;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    opacity: 0;
}

.card .card-img-wrapper:hover .board-options {
    opacity: 1;
}

.card .animate {
    transition: all 0.2s ease-in-out;
}

.card .btn {
    font-family: "Open Sans Condensed", sans-serif;
    font-size: x-large;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 3px #FF0000, 0 0 5px #dddddd;
}

.card .btn:hover {
    color: rgb(211, 146, 146);
}