.board-details .board-wrapper {
    overflow-x: scroll;
    height: 85vh;
}

.board-details .board-title {
    font-size: larger;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 3px !important;
}

.board-details .board-title-input {
    background: rgba(255, 255, 255, 0.185);
    color: white;
    border: none;
    max-width: fit-content;
    max-height: 20px;
    font-size: larger;
}

.board-details .show-menu-button {
    background-color: rgba(255, 255, 255, 0.418);
    cursor: pointer;
    padding: 3px;
}

.board-details .show-menu-button:hover {
    background-color: rgba(255, 255, 255, 0.568);
}

.board-details .board-title-input:focus {
    background: rgba(255, 255, 255, 0.185);
    color: white;
    outline: none;
}
