.board-details .board-wrapper {
    overflow-x: scroll;
    height: 85vh;
}

.board-details .board-title {
    font-weight: 600;
    font-size: large;
}

.board-details .saving-list-loader, .board-details .loader-text {
    position: absolute;
    right: 0;
    font-weight: 600;
    font-family: "Open Sans Condensed", sans-serif;
    font-size: larger;
}

::-webkit-scrollbar {
    height: 8px;
    width: 5px;
    background: transparent;
}

::-webkit-scrollbar-thumb:horizontal, ::-webkit-scrollbar-thumb:vertical{
    background: rgb(148, 66, 66);
    border-radius: 10px;
}
