.lists .list-group-item {
    height: fit-content;
    border: none;
}

.list-view, .add-list-button {
    background-color: rgba(230, 230, 230, 0.329);
}

.list-view {
    width: 262px;
}

.add-list-button {
    width: 230px;
    font-size: large;
    
}

.list-view .list-title {
    font-weight: 600;
    color: #252525;
    cursor: pointer;
    width: 100%;
    display: inline-block;
}

