.lists .list-group-item {
    height: fit-content;
    border: none;
    background: transparent;
}

.list-view, .add-list-button {
    background-color: rgba(230, 230, 230, 0.329);
}

.list-input-text {
    outline: none;
}

.list-view {
    width: 262px;
}

.toggle-adding-list-button, .list-to-add {
    width: 230px;
}

.toggle-adding-list-button {
    font-size: large;
    background: rgba(255, 255, 255, 0.164);
    cursor: pointer;
    border-radius: 5px;
}

.toggle-adding-list-button:hover {
    background: rgba(255, 255, 255, 0.397);
}

.list-view .list-title {
    font-weight: 600;
    color: #252525;
    cursor: pointer;
    width: 100%;
    display: inline-block;
}
