.lists .list-group-item {
    height: fit-content;
    border: none;
    background: transparent;
}

.list-to-add {
    background-color: rgba(56, 56, 56, 0.616);
    padding: 8px;
    border-radius: 3px;
}

.list-view, .add-list-button {
    background-color: rgba(230, 230, 230, 0.329);
}

.list-input-text {
    outline: none;
}

.list-view {
    width: 262px;
    max-width: 262px;
    background: rgb(63, 63, 63);
    overflow: hidden;
}

.list-title-change-input {
    background: rgba(255, 255, 255, 0.205);
    border: none;
    outline: none;
    height: 26px;
    max-width: 262px;
}

.toggle-adding-list-button, .list-to-add {
    width: 230px;
}

.toggle-adding-list-button {
    font-size: large;
    background: rgba(255, 255, 255, 0.164);
    cursor: pointer;
    border-radius: 5px;
}

.toggle-adding-list-button:hover {
    background: rgba(255, 255, 255, 0.397);
}

.list-title-div {
    font-weight: 500;
    cursor: pointer;
    background: rgba(24, 24, 24, 0.987);
    padding: 1px 5px 1px 5px;
    color: #E4E6EB;
    border-radius: 3px;
    border: rgb(135, 135, 135) 1px solid;
    margin-bottom: 3px;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently*/
}

.list-dropdown-menu {
    float: right;
}
