@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/bootswatch/dist/journal/bootstrap.css';

body {
    background: #0f0f0f;
    color: white;
}

::placeholder {
    color:#333333;
    font-weight: 500;
}