@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/bootswatch/dist/journal/bootstrap.min.css';
@import "https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap";
@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';


body {
    color: #eeeeee;
    font-weight: 500;
    background: rgb(66, 66, 66);
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.saving-changes-loader, .saving-changes-loader-text  {
    position: fixed;
    right: 5px;
    top: 59px;
}

.saving-changes-loader-text {
    top: 53px !important;
    font-size: larger;
}