.logout-link {
    text-decoration: none;
    color: white;
}

.navbar .item {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.navbar-brand {
    color: rgb(185, 50, 50);
}

.navbar .item:hover {
    color: rgba(185, 50, 50, 0.781);
}

.navbar .user-knownas {
    color: rgb(185, 50, 50);
}

.navbar .navbar-brand:hover {
    color: rgba(185, 50, 50, 0.781);
}

nav {
    height: 55px;
    width: 100%;
    background: rgb(0,0,0);
    background: -moz-linear-gradient(270deg, rgba(0,0,0,0.6811099439775911) 22%, rgba(0,0,0,0.5970763305322129) 100%);
    background: -webkit-linear-gradient(270deg, rgba(0,0,0,0.6811099439775911) 22%, rgba(0,0,0,0.5970763305322129) 100%);
    background: linear-gradient(270deg, rgba(0,0,0,0.6811099439775911) 22%, rgba(0,0,0,0.5970763305322129) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
}

.navbar .btn-success, .navbar .btn-danger {
    width: 100px;
    border: none;
}

.navbar .btn-success {
    background: rgb(224, 224, 224) !important;
}

.navbar .btn-success:hover {
    background: rgb(148, 148, 148) !important;
}