.logout-link {
    text-decoration: none;
    color: white;
}

.navbar .item {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.navbar .item:hover {
    color: rgb(175, 102, 102);
}

.navbar .user-knownas {
    color: #d9534f;
}

.navbar .navbar-brand:hover {
    color: rgb(175, 102, 102);
}

nav {
    height: 60px;
    background: #C5E1A5;
}
